/* About Section */
.about-container {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  padding: 0 var(--padding-x);
  margin: 0 auto;
  display: flex;
}

/* About Image */
.about-image {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-profile {
  width: 20rem;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0.15rem 0.20rem 0.40rem rgba(0, 0, 0, 0.5);
  background-color: var(--blue);
}

/* About Desctiption */
.about-description {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Skills Section */
.about-skills {
  width: 100%;
  columns: 3;
}
.list-skills {
  padding: 0;
  list-style: none;
}





/* ****************************************
          Breakpoints Bootstrap
**************************************** */

/*xl - Bootstrap*/
@media screen and (max-width: 1200px){
  /* About Section */
  .about-container {
    height: auto;
    flex-direction: column;
    padding: 3rem var(--padding-x) 3rem var(--padding-x);
  }

  /* About Desctiption */
  .about-description{
    width: 100%;
    padding: 3rem 0 0 0;
  }

  /* About Image */
  .about-image {
    width: 100%;
  }
  .image-profile {
    width: 13.12rem;
  }
}

/*lg - Bootstrap*/
@media screen and (max-width: 992px){}

/*md - Bootstrap*/
@media screen and (max-width: 768px){
  /* About Image  */
  .image-profile {
    width: 12.5rem;
  }
}

/*sm - Bootstrap*/
@media screen and (max-width: 576px){
  /* Skills Section */
  .about-skills {
    columns: 2;
  }
  .list-skills {
    list-style: none;
  }
  .skills{
    margin: 0 0 0.5rem 0 !important;
  }
}

/* xsm - Bootstrap */
@media screen and (max-width: 360px) {}
