/* About Section */
.about-container {
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  margin: 0 auto;
  display: flex;
}

/* About Image */
.about-image {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
.image-profile {
  width: 18rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0.15rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

/* About Desctiption */
.about-description {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem 0 0;
  background-color: inherit;
}

/* Skills Section */
.about-skills {
  width: 100%;
  columns: 3;
  margin: 1rem 0 0 0;
}
.list-skills {
  padding: 0;
  list-style: none;
  margin: 0 0 0.7rem 0;
  font-size: var(--size-paragraph);
  font-family: var(--font-paragraph);
  opacity: var(--opacity);
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */

/*xl - Bootstrap*/
@media screen and (max-width: 1200px) {
  /* About Section */
  .about-container {
    height: auto;
    flex-direction: column;
    padding: 4rem var(--padding-x);
  }

  /* About Desctiption */
  .about-description {
    width: 100%;
    padding: 3rem 0 0 0;
  }

  /* About Image */
  .about-image {
    width: 100%;
  }
  .image-profile {
    width: 14rem;
  }
}

/*lg - Bootstrap*/
@media screen and (max-width: 992px) {
}

/*md - Bootstrap*/
@media screen and (max-width: 768px) {
}

/*sm - Bootstrap*/
@media screen and (max-width: 576px) {
  /* About Image  */
  .image-profile {
    width: 12rem;
  }

  /* Skills Section */
  .about-skills {
    columns: 2;
  }
}

/* xsm - Bootstrap */
@media screen and (max-width: 360px) {
}
