/* **********  About Section  ********** */
.about-section {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  margin-top: var(--height-header);
  padding: 0 var(--padding-x);
  display: flex;
}

/* **********  About Image  ********** */
.about-image {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 85%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0.15rem 0.20rem 0.40rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

/* **********  About Desctiption  ********** */
.about-description {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem 0 0;
}

/* **********  Skills Section  ********** */
.skills-section {
  width: 100%;
  columns: 3;
  margin: 1.8rem 0 0 0;
}
.list-skills {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills {
  margin: 0 0 0.6rem 0;
}





/* **********  Media Queries  ********** */

/* ********** Extra XL- Done - Done ********** */
@media screen and (max-width: 1360px) {
  /* **********  About Image  ********** */
  .about-image img {
    width: 75%;
  }
}

/* ********** XL- Done - Done ********** */
@media screen and (max-width: 1200px) {
  /* **********  About Section  ********** */
  .about-section {
    padding: 4rem var(--padding-x) 3rem var(--padding-x);
    height: auto;
    flex-direction: column-reverse;
  }

  /* **********  About Image  ********** */
  .about-image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .about-image img {
    width: 20%;
    margin: 0;
  }

  /* **********  About Desctiption  ********** */
  .about-description {
    width: 100%;
    height: auto;
    padding: 0;
  }

  /* **********  Skills Section  ********** */
  .skills-section {
    columns: 3;
  }
}

/* ********** Large - Done - Done ********** */
@media screen and (max-width: 992px) {

}

/* ********** Medium - Done - Done ********** */
@media screen and (max-width: 768px) {
  /* **********  About Image  ********** */
  .about-image img {
    width: 27%;
  }
}

/* ********** SM - Done - Done ********** */
@media screen and (max-width: 576px) {
  /* **********  About Section  ********** */
  .about-section {
    padding: 3rem var(--padding-x);
  }

  /* **********  About Image  ********** */
  .about-image img {
    width: 45%;
  }

  /* **********  About Desctiption  ********** */
  .about-description {
    width: 100%;
    padding: 1rem 0;
  }

  /* **********  Skills Section  ********** */
  .skills-section {
    width: 100%;
    columns: 2;
  }
  .skills {
    margin: 0 0 0.5rem 0;
  }
}

/* ********** Extra SM - Done - Done ********** */
@media screen and (max-width: 360px) {
  /* **********  About Image  ********** */
  .about-image img {
    width: 47%;
  }
}