/*****************************************
              Contact Container             
*****************************************/
.contact__container {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  padding: 0 var(--padding-x);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****************************************
              Contact Form                
*****************************************/
.contact__form {
  width: 50%;
}

.form {
  width: 100%;
}

.form-control {
  color: var(--gray);
  font-family: var(--font-paragraph);
  font-size: 1rem;
  padding: 0.7rem 1rem !important;
  border-color: #4b556370 !important;
  border-radius: 0.25rem !important;
  opacity: 0.8;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-control:valid {
  border-color: #28a745 !important;
}
.form__invalid {
  border-color: red !important;
}
.form__invalid::placeholder {
  color: red !important;
}

.form__button {
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 0 !important;
  background-color: var(--blue) !important;
  width: 100%;
  font-size: 1rem !important;
  border-radius: 0.25rem !important;
  font-family: var(--font-paragraph) !important;
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */

@media screen and (max-width: 1360px) {
  .form-control {
    padding: 0.6rem 1rem !important;
  }
}

/*extra large - OKOK*/
@media screen and (max-width: 1200px) {
  .contact__form {
    width: 60%;
  }
}

/*large - OKOK*/
@media screen and (max-width: 992px) {
  .contact__form {
    width: 70%;
  }

  .form-control {
    padding: 0.9rem 0.7rem !important;
  }
}

/*medium - OKOK*/
@media screen and (max-width: 768px) {
  .contact__form {
    width: 80%;
  }
}

/*small - OKOK*/
@media screen and (max-width: 576px) {
  .contact__form {
    width: 100%;
  }

  .form__button {
    padding: 1.1rem 0 !important;
  }
}

/*extra small - OKOK*/
@media screen and (max-width: 360px) {
}
