/* **********  Contact Section  ********** */
.contact-section {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  margin-top: var(--height-header);
  background-color: var(--white);
  display: flex;
}

/* **********  Contact Form  ********** */
.contact-form{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem !important;
  font-family: var(--font-paragraph);
}
.contact-form form{
  width: 70%;
}
.form-control{
  border-color: #4b556370 !important;
  padding: 0.8rem 0.8rem !important;
  color: var(--gray);
  opacity: 0.8;
}
.form-control:focus {
  box-shadow: none !important;
}
.btn-form{
  box-shadow: none !important;
  border: none !important;
  padding: 0.85rem 0 !important;
  background-color: var(--blue) !important;
  width: 100%;
}

/* **********  Contact image  ********** */
.contact-image{
  width: 35%;
  height: 100%;
  background-image: url(../Image//Pattern.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





/* **********  Media Queries  ********** */

/* Extra XL- Done */
@media screen and (max-width: 1360px) {
  /* **********  Contact Form  ********** */
  .form-control {
    padding: 0.6rem 0.7rem !important;
  }
}

/* XL- Done */
@media screen and (max-width: 1200px) {
  /* **********  Contact Form  ********** */
  .contact-form form {
    width: 75%;
  }
  .form-control {
    padding: 0.5rem 0.6rem !important;
  }
}

/* Large- Done */
@media screen and (max-width: 992px) {
  /* **********  Contact Form  ********** */
  .contact-form {
    width: 100%;
  }
  .contact-form form {
    width: 80%;
  }
  /* **********  Contact image  ********** */
  .contact-image {
    display: none;
  }
}

/* Medium- Done */
@media screen and (max-width: 768px) {
  /* **********  Contact Form  ********** */
  .contact-form form {
    width: 90%;
  }
}

/* SM - Done */
@media screen and (max-width: 576px) {
  /* **********  Contact Section  ********** */
  .contact-section {
    padding: 0 var(--padding-x);
  }

  /* **********  Contact Form  ********** */
  .contact-form form {
    width: 100%;
    margin: 0 0 calc(var(--height-header)/2) 0;
  }
  .form-control {
    padding: 0.97rem 0.6rem !important;
  }
}

/* Extra SM - Done */
@media screen and (max-width: 360px) {

}