.contact__container {
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  width: 50%;
}

.form {
  width: 100%;
}
.form-control {
  font-family: var(--font-paragraph);
  padding: 0.7rem 0.7rem !important;
  border-color: #4b556380 !important;
  border-radius: 0.25rem !important;
}
.form-control::placeholder {
  color: #4b556390 !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-control:valid {
  border-color: #28a745 !important;
}
.form__invalid {
  border-color: red !important;
}
.form__invalid::placeholder {
  color: red !important;
}

.form__button {
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 0 !important;
  background-color: var(--blue) !important;
  width: 100%;
  border-radius: 0.25rem !important;
  font-family: var(--font-paragraph) !important;
}

/*****************************************
                Breakpoints           
*****************************************/

@media screen and (max-width: 1360px) {
}

@media screen and (max-width: 1200px) {
  .contact__form {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .form-control {
    padding: 0.8rem 0.7rem !important;
  }
}

@media screen and (max-width: 768px) {
  .contact__form {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .contact__form {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
}
