
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.2rem;
  background-color: #4159F8;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  text-indent: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: var(--font-paragraph);
  margin-top: 0.5rem;
}

.buttonDownload:hover {
  background-color: #4159F8;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 1rem;
  top: 52%;
}
.buttonDownload:before {
  width: 0.63rem;
  height: 0.13rem;
  border-style: solid;
  border-width: 0 0.13rem 0.13rem;
}
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 0.15rem;
  margin-top: -0.43rem;
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0.25rem;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}
.buttonDownload:hover:before {
  border-color: #fff;
}

.buttonDownload:hover:after {
  border-top-color: #fff;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -0.43rem;
    opacity: 1;
  }

  0.001% {
    margin-top: -1rem;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}









/* **********  Media Queries  ********** */

/* Extra XL- Done */
@media screen and (max-width: 1360px) {
  .buttonDownload:before,
  .buttonDownload:after {
    left: 0.8rem;
  }
}

/* XL- Done */
@media screen and (max-width: 1200px) {
  .buttonDownload {
    padding: 0.7rem 1.5rem;
  }
}

/* Large - Done */
@media screen and (max-width: 992px) {
  .buttonDownload {
    padding: 0.8rem 1.5rem;
  }
}

/* Medium - Done */
@media screen and (max-width: 768px) {

}

/* SM - Done */
@media screen and (max-width: 576px) {
  .buttonDownload {
    padding: 0.8rem 2rem;
  }
  .buttonDownload:before,
  .buttonDownload:after {
    left: 1.5rem;
  }
}

/* Extra SM - Done */
@media screen and (max-width: 360px) {

}