.link__cv {
  display: inline-block;
  background-color: var(--blue);
  width: 13rem;
  height: 3rem;
  padding: 0 2.2rem;
  margin-top: 0rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-paragraph);
  font-size: var(--size-paragraph);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: thin soli var(--white);
  border-radius: 0.35rem;
}
.link__cv:hover {
  color: var(--white);
}

.hidden__message {
  display: none;
}

.curriculum__message {
  background-color: #253cd980;
  padding: 0.75rem 2rem;
  text-align: center;
  border-radius: 0.35rem;
  height: 3rem;
}
.curriculum__message p {
  color: #fff !important;
  margin: 0;
}

.link__icon__section {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;

  border-left: thin solid var(--white);
  border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.link__icon {
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */
@media screen and (max-width: 1360px) {
  .link-cv {
    width: 12rem;
    height: 40px;
  }
}

/* XL- Done */
@media screen and (max-width: 1200px) {
}
/* Large - Done */
@media screen and (max-width: 992px) {
}

/* Medium - Done */
@media screen and (max-width: 768px) {
}

/* SM - Done */
@media screen and (max-width: 576px) {
  .link-cv {
    height: 3.13rem;
  }
}

/* Extra SM - Done */
@media screen and (max-width: 360px) {
}
