@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root{
    
    /*Size*/
    --height-header: 12vh;/***/
    --size-menu: 17px;/**/
    --size-title-h1: 130px;/**/
    --size-title-h2: 40px;/**/
    --size-title-h3: 33px;/**/
    --size-paragraph: 16px;/**/
    --line-height: 25px;/**/

    /*Colors*/
    --white: #FFFFFF;
    --black: #11182A;
    --blue: #020D81;
    --gray: #4A5568;
    --gray-alt: #8EA2B9;
    --pink: #FC199D;
    --orange: #FB6B30;
    --sky-blue: #D7EFFC;

    --html: #F4470B;
    --css: #0068BA;
    --js: #E9D44D;
    --bootstrap: #754FAD;
    --sass: #CE6B9E;
    --react: #00D1F7;
    --facebook: #38529A;
    --instagram: #F71E9E;
    --linkedin: #016FAB;
    --github: #000000;
    --twitter: #3993ED;
    --email: #F2463C;

    /*Typography*/
    --font-brand: 'Rubik', sans-serif;
    --font-menu: 'Nunito Sans', sans-serif;
    --font-title: 'Rubik', sans-serif;
    --font-paragraph: 'Nunito Sans', sans-serif;
    --font-alt: 'Space Mono', monospace;
}
.title-h2{
    font-family: var(--font-title);
    font-size: var(--size-title-h2);
    letter-spacing: 1px;
}





/***************  Breakpoints  ***************/
/*DONE - OK*/
@media screen and (max-width: 1100px){
    :root{
        --size-title-h1: 120px;
        --size-title-h2: 38px;
        --size-title-h3: 35px;
        --size-paragraph: 16.5px;
        --line-height: 29px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 900px){
    :root{
        --height-header: 15vh;
        --size-title-h1: 120px;
        --size-title-h2: 40px;
        --size-title-h3: 35px;
        --size-paragraph: 18.5px;
        --size-menu: 17px;
        --line-height: 30px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 780px){
    :root{
        --height-header: 16vh;
        --size-title-h1: 120px;
        --size-title-h2: 45px;
        --size-title-h3: 50px;
        --size-paragraph: 19px;
        --size-menu: 18.5px;
        --line-height: 30px;
    }
}

/*DONE - OKOKOKOKOK*/
@media screen and (max-width: 582px){
    :root{
        --height-header: 10vh;/**/
        --size-menu: 35px;/**/
        --size-paragraph: 19px;/**/
        --size-title-h2: 40px;/**/
        --size-title-h3: 35px;/**/
        --line-height: 30px;/**/
    }
}

/*DONE*/
@media screen and (max-width: 360px){
    :root{
        --height-header: 16vh;
        --size-menu: 18px;
        --size-paragraph: 18px;
        --size-title-h2: 38px;
        --size-title-h3: 35px;
    }
}