@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body{
  background-color: red !important;
}
:root {
  /* **********  Size  ********** */
  --height-header: 12vh; /*DONE*/
  --height-footer: 12vh; /*DONE*/
  --max-width: 1500px; /*DONE*/
  --padding-x: 2.5rem; /*DONE*/
  --size-menu: 1.1rem; /*DONE*/
  --size-paragraph: 1.1rem; /*DONE*/
  --line-height: 1.75; /*DONE*/
  --size-title-h1: 9.5rem;
  --size-title-h2: 2.5rem; /*DONE*/
  --size-title-h3: 1.8rem; /*DONE*/


  /* **********  Typography  ********** */
  --font-menu: "Space Mono", monospace; /*DONE*/
  --font-title: "Rubik", sans-serif; 
  --font-paragraph: "Space Mono", monospace; /*DONE*/


  /* **********  Colors  ********** */
  --white: #ffffff;
  --black: #222222;
  --blue: #243ef7;
  --pink: #fc199d;
  --gray: #4b5563;
  --html: #f4470b;
  --css: #0068ba;
  --js: #e9d44d;
  --bootstrap: #754fad;
  --sass: #ce6b9e;
  --react: #00d1f7;
  --instagram: #f71e9e;
  --twitter: #1d9bf0;
  --linkedin: #016fab;
  --github: #000000;
  --codepen: #222222;
}
body{
  background-color: var(--white) !important;
}
.paragraph {
  font-size: var(--size-paragraph);
  font-family: var(--font-paragraph);
  line-height: var(--line-height);
  color: var(--gray-800);
  margin: 0;
  opacity: 0.8;
}










/* **********  Media Queries  ********** */

/*OKOK - DONE*/
@media screen and (max-width: 1360px) {
  :root{
    --size-paragraph: 0.97rem; 
    --size-menu: 1rem;
    --size-title-h3: 1.65rem;
    --size-title-h1: 8.6rem;
  }
}

/*OKOK - DONE*/
@media screen and (max-width: 1200px) {
  :root {
    --padding-x: 2rem;
    --size-title-h3: 1.9rem;
    --size-title-h1: 8rem;
  }
}








@media screen and (max-width: 992px) {
  :root {
    --size-title-h3: 35px;
    --size-menu: 17px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --size-menu: 1.5rem;

    --padding-x: 1.2rem;
    --size-title-h3: 1.95rem;
  }
}

/*Small -- OKOK*/
@media screen and (max-width: 576px) {
  :root {
    --height-header: 9vh;
    --height-footer: 17vh;
    --size-menu: 1.5rem;
    --padding-x: 1.2rem;

    --size-paragraph: 1rem;
    --size-title-h1: 5.5rem;
    --size-title-h3: 1.8rem;
  }
}






@media screen and (max-width: 360px) {
  :root {
    --size-title-h1: 4.8rem;
    --size-title-h2: 1.6rem;
  }
}
