@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

:root {
  /* **********  Size  ********** */
  --height-header: 12vh;
  --height-footer: 12vh;
  --max-width: 1500px;
  --padding-x: 2rem;
  --size-menu: 1rem;
  --size-paragraph: 1rem;
  --line-height: 1.75;
  --size-title-h1: 8rem;
  --size-title-h3: 1.7rem;


  /* **********  Typography  ********** */
  --font-menu: "Space Mono", monospace;
  --font-title: "Rubik", sans-serif;
  --font-paragraph: "Space Mono", monospace;


  /* **********  Colors  ********** */
  --white: #ffffff;
  --black: #222222;
  --blue: #243ef7;
  --pink: #fc199d;
  --gray: #4b5568;
  --html: #f4470b;
  --css: #0068ba;
  --js: #e9d44d;
  --bootstrap: #754fad;
  --sass: #ce6b9e;
  --react: #00d1f7;
  --instagram: #f71e9e;
  --twitter: #1d9bf0;
  --linkedin: #016fab;
  --github: #000000;
  --codepen: #222222;
}
.paragraph {
  font-size: var(--size-paragraph);
  font-family: var(--font-paragraph);
  line-height: var(--line-height);
  color: var(--gray);
  margin: 0;
  opacity: 0.8;
}










/* **********  Media Queries  ********** */


@media screen and (max-width: 1360px) {

}

@media screen and (max-width: 1200px) {
  :root {
    --padding-x: 2rem;
    --size-title-h1: 8rem;
    --size-title-h3: 1.8rem;
    --padding-x: 1.5rem;
  }
}








/*Done*/
@media screen and (max-width: 992px) {
  :root {
    --size-title-h3: 1.7rem; /*OK - OK - Ok*/
    --size-menu: 1.5rem; /*OK - OK - Ok*/
  }
}
/*Done*/
@media screen and (max-width: 768px) {
  :root {
    --size-title-h1: 7rem;/*OK - OK - Ok*/
    --size-title-h3: 1.5rem; /*OK - OK - Ok*/

  }
}










@media screen and (max-width: 576px) {
  :root {
    --height-header: 10vh;
    --height-footer: 15vh;
    --size-menu: 1.8rem;
    --padding-x: 1rem;

    --size-paragraph: 1rem;
    --size-title-h1: 5.5rem;
    --size-title-h3: 1.9rem;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --size-menu: 1.6rem;
    --size-title-h1: 4.6rem;
    --size-title-h3: 1.65rem;
    --height-footer: 20vh;
  }
}
