.description-container{
    width: 100%;
    max-width: 1500px;
    height: auto;
    background-color: var(--white);
    margin: var(--height-header) 0 0 0;
}
.descrption-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.description-image{
    width: 35%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.image-profile{
    height: 70vh;
    width: auto;
}
.description-text{
    width: 65%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 40px 0 30px;
}
.description-text h2{
    color: var(--black);
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.description{
    font-family: var(--font-paragraph);
    font-size: var(--size-paragraph);
    line-height: var(--line-height);
    color: var(--gray-dark);
    margin: 0;
}
.description-tecnology{
    width: 100%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}
.tecnologys{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tecnology-icon{
    font-size: 60px;
    -webkit-transition:opacity  .5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    margin: 0;
}
.tecnology-title{
    font-family: var(--font-alt);
    font-size: 23px;
    opacity: 0;
    letter-spacing: 1px;
    -webkit-transition: opacity .5s;
    -moz-transition: o pacity 0.5s;
    -o-transition: o pacity 0.5s;
    position: absolute;
    margin: 0;
    font-weight: bold;
}
.tecnologys:hover .tecnology-title{
    opacity: 1;
}
.tecnologys:hover svg{
    opacity: 0;
}
.title-html{
    color: var(--html);
}
.title-css{
    color: var(--css);
}
.title-sass{
    color: var(--sass);
}
.title-bootstrap{
    color: var(--bootstrap);
}
.title-js{
    color: var(--js);
}
.title-react{
    color: var(--react);
}
.title-github{
    color: var(--black);
}
.box-tecnology:hover .title-tecnology{
    opacity: 1;
}








/*Breakpoints*/
/*DONE - DONE*/
@media screen and (max-width: 1100px){
    .description-image{
        display: none;
    }
    .description-text{
        width: 100%;
        height: calc(100vh - var(--height-header));
        padding: 0 30px;
        justify-content: center;
        align-items: flex-start;
    }
    .description-text h2{
        margin: 0 0 10px 0;
    }
    .description-tecnology{
        width: 100%;
        margin: 35px 0 0 0;
    }

}

/*DONE - OK*/
@media screen and (max-width: 900px){
    .description-text{
        height: auto;
        padding: 40px 25px 0 25px;
    }
    .description-text h2{
        margin: 0 0 10px 0;
    }
    .description-tecnology{
        padding: 0 0 25px 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .tecnologys{
        width: 25%;
        margin: 20px 0 40px 0;
    }
    .tecnology-title{
        font-size: 23px;
    }
    .tecnology-icon{
        font-size: 65px;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 630px){}


/*DONE - DONE*/
@media screen and (max-width: 480px){
    .description-text{
        height: auto;
        padding: 40px 15px 15px 15px;
    }
    .description-text h2{
        margin: 0 0 10px 0;
    }
    .description-tecnology{
        padding: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .tecnologys{
        width: 30%;
        margin: 0 0 40px 0;
    }
    .tecnology-title{
        font-size: 23px;
    }
    .tecnology-icon{
        font-size: 65px;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 360px){
    .tecnology-title{
        font-size: 22px;
    }
    .tecnology-icon{
        font-size: 60px;
    }
}