.description-container{
    width: 100%;
    max-width: 1500px;
    height: calc(100vh - var(--height-header));
    background-color: var(--white);
    margin: var(--height-header) 0 0 0;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.description-image{
    width: 35%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-profile{
    height: 73vh;
}

.description-text{
    width: 65%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}
.description-title{
    width: 100%;
    height: auto;
}
.description-title h2{
    color: var(--black);
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    padding: 0;
}
.description{
    font-family: var(--font-paragraph);
    font-size: var(--size-paragraph);
    line-height: var(--line-height);
    color: var(--gray);
    margin: 5px 0 35px 0;
    letter-spacing: 0.5px;
}
.description-tecnology{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 25px;
}
.tecnologys{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tecnology-icon{
    font-size: 58px;
    -webkit-transition:opacity  .5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    margin: 0;
}
.tecnology-title{
    font-family: var(--font-title);
    font-size: 21px;
    opacity: 0;
    letter-spacing: 1px;
    -webkit-transition: opacity .5s, font-weight .5s;
    -moz-transition: opacity 0.5s, font-weight .5s;
    -o-transition: opacity 0.5s, font-weight .5s;
    position: absolute;
    margin: 0;
    font-weight: bold;
}
.tecnologys:hover .tecnology-title{
    opacity: 1;
}
.tecnologys:hover svg{
    opacity: 0;
}
.title-html{
    color: var(--html);
}
.title-css{
    color: var(--css);
}
.title-sass{
    color: var(--sass);
}
.title-bootstrap{
    color: var(--bootstrap);
}
.title-js{
    color: var(--js);
}
.title-react{
    color: var(--react);
}
.title-github{
    color: var(--black);
}
.box-tecnology:hover .title-tecnology{
    opacity: 1;
    font-weight: bold;
}





/***************  Breakpoints  ***************/
/*DONE - OK*/
@media screen and (max-width: 1100px){
    .description-container{
        padding: 0 80px;
    }
    .description-image{
        display: none;
    }
    .description-text{
        width: 100%;
        padding: 0 ;
        justify-content: center;
        align-items: flex-start;
    }
    .description-tecnology{
        width: 100%;
        margin: 35px 0 0 0;
    }

}

/*DONE - OK*/
@media screen and (max-width: 900px){
    .description-container{
        height: auto;
        padding: 50px 25px;
    }
    .description-text{
        height: auto;
        padding: 0;
    }
    .description-text h2{
        margin: 0 0 10px 0;
    }
    .description-tecnology{
        padding: 0 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tecnologys{
        width: auto;
        margin: 0;
    }
    .tecnology-title{
        font-size: 20px;
    }
    .tecnology-icon{
        font-size: 62px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 780px){
    .description-container{
        padding: 30px 25px 15px 25px;
    }
    .description-tecnology{
        padding: 0 50px;
        margin: 50px 0 0 0;
    }
    .tecnologys{
        width: 24%;
        margin: 0 0 50px 0;
    }
}

/*DONE - OKOKOKOKOK*/
@media screen and (max-width: 582px){
    .description-container{
        padding: 30px 15px 20px 15px;
    }
    .description-text h2{
        margin: 0 0 5px 0;
    }
    .description{
        margin: 5px 0 5px 0 !important;
    }
    .description-tecnology{
        padding: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .tecnologys{
        width: 33%;
        margin: 0 0 40px 0;
    }
    .tecnology-title{
        font-size: 23px;
    }
    .tecnology-icon{
        font-size: 65px;
    }
}

/*DONE*/
@media screen and (max-width: 360px){
    .tecnology-title{
        font-size: 20px;
    }
    .tecnology-icon{
        font-size: 60px;
    }
}