.notfound__container {
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound__image {
  width: 30rem;
  height: auto;
}

/*****************************************
                Breakpoints           
*****************************************/

@media screen and (max-width: 1360px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .notfound__image {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
}
