/* **********  Not Found Section  ********** */
.notfound-section {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  color: var(--gray);
  font-family: var(--font-title);
  padding: 0 var(--padding-x);
  margin-top: var(--height-header);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.notfound-number{
  font-size: 10rem;
  margin: 0;
}
.notfound-description{
  font-size: 3.5rem;
  margin: -2rem 0 0 0;
}









/* **********  Media Queries  ********** */


/*OKOK - DONE - DONE*/
@media screen and (max-width: 1360px) {}

/*OKOK - DONE - DONE*/
@media screen and (max-width: 1200px) {}

/*OKOK - DONE - DONE*/
@media screen and (max-width: 992px) {
  /* **********  Not Found Section  ********** */
  .notfound-number {
    font-size: 8.5rem;
  }
  .notfound-description {
    font-size: 3rem;
  }
}

/*OKOK - DONE - DONE*/
@media screen and (max-width: 768px) {}

/*OKOK - DONE - DONE*/
@media screen and (max-width: 576px) {
  /* **********  Not Found Section  ********** */
  .notfound-section{
    padding-bottom: var(--height-footer);
  }
  .notfound-number {
    font-size: 8rem;
  }
  .notfound-description {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 360px) {

}
