.notfound-container{
    width: 100%;
    max-width: 1500px;
    height: calc(87vh - var(--height-header));
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: var(--height-header) 0 0 0;
}
.notfound-image{
   max-width: 100%;
}



/*Breakpoints*/
/*DONE - OK*/
@media screen and (max-width: 1024px){
    
}

/*DONE - OK*/
@media screen and (max-width: 800px){
    
}

/*DONE - OK*/
@media screen and (max-width: 600px){
    
}

/*DONE - OK*/
@media screen and (max-width: 480px){
    
}

/*DONE - OK*/
@media screen and (max-width: 360px){}