/* ****************************************
             Footer Container
**************************************** */
.footer__container {
  width: 100%;
  max-width: var(--max-width);
  height: var(--height-footer);
  background-color: var(--white);
  padding: 0 var(--padding-x);
  margin: 0 auto;
  border-top: thin solid rgba(49, 49, 49, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.footer__icons {
  display: flex;
  gap: 2rem;
}
.icons__link {
  font-size: 1.6rem;
  color: var(--gray);
  opacity: var(--opacity);
  transition: color 0.5s ease;
}

.instagram:hover {
  color: var(--instagram);
}
.linkedin:hover {
  color: var(--linkedin);
}
.github:hover {
  color: var(--github);
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */

/*extra large - OKOK*/
@media screen and (max-width: 1360px) {
}

/*extra large - OKOK*/
@media screen and (max-width: 1200px) {
}

/*large - OKOK*/
@media screen and (max-width: 992px) {
}

/*medium - OKOK*/
@media screen and (max-width: 768px) {
  .footer__container {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0.5em;
  }

  .icons__link {
    font-size: 1.9rem;
  }
}

/*small - OKOK*/
@media screen and (max-width: 576px) {
  .footer__container {
    text-align: center;
  }
  .footer__icons {
    gap: 2rem;
  }

  .icons__link {
    font-size: 1.8rem;
  }
}

/*extra small - OKOK*/
@media screen and (max-width: 360px) {
  .icons__link {
    font-size: 1.7rem;
  }
}
