/*  Header Section  */
.header-section {
  width: 100%;
  max-width: var(--max-width);
  height: var(--height-header);
  padding: 0 var(--padding-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  transition: background-color 0.1s;
  margin: 0 auto;
}

/* Menu Hamburguesa */
.menu-hamburguesa {
  display: none;
}

/* Header Brand */
.header-brand {
  width: 10rem !important;
}
.brand-image {
  width: 100%;
  height: auto;
}

/* Header Menu */
.header-menu {
  width: auto;
  height: auto;
  display: flex;
}
.menu-links {
  font-family: var(--font-menu);
  font-size: var(--size-menu);
  color: var(--gray);
  text-decoration: none;
  transition: color 0.5, opacity 0.5ss;
  margin: 0 0 0 4rem;
  opacity: var(--opacity);
}
.menu-links:hover {
  color: var(--pink);
  opacity: 1;
}
.active {
  color: var(--pink);
  opacity: 1;
}
.header-prhase {
  display: none;
}
.header-sticky{
  transition: background-color 0.1s;
  background-color: var(--white);
}





/* ****************************************
          Breakpoints Bootstrap
**************************************** */

/*xl - Bootstrap*/
@media screen and (max-width: 1200px) {
  /* Header Brand */
  .header-brand {
    width: 9rem;
  }
  
  /* Header Menu */
  .menu-links {
    margin: 0 0 0 3rem;
  }

}

/*lg - Bootstrap*/
@media screen and (max-width: 992px) {
  .header-section {
    flex-direction: row;
  }
  .menu-hamburguesa {
    width: 1.8rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .icon-menu {
    width: 100%;
    height: 0.2rem;
    background-color: var(--gray);
    opacity: 0.7;
    position: absolute;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all 0.4s;
    background-color: inherit;
  }
  .icon-menu::before {
    top: 0.5rem;
  }
  .icon-menu::after {
    top: -0.5rem;
  }
  .icon-menu-active:before,
  .icon-menu-active:after {
    background-color: inherit;
    transition: all 0.4s;
    width: 50%;
  }
  .icon-menu-active:before {
    transform: rotate(30deg);
    top: 0.24rem;
    left: -0.1px;
  }
  .icon-menu-active:after {
    transform: rotate(-30deg);
    top: -0.24rem;
    left: -0.1px;
  }
  .header-brand {
    width: 10rem;
  }
  .header-menu {
    width: 100vw;
    height: calc(100vh - var(--height-header));
    padding: 3rem var(--padding-x) !important;
    position: fixed;
    top: var(--height-header);
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    transform: translateY(100%);
    border-top: 1px solid rgba(221, 226, 240, 1);
    background: hsla(0, 0%, 100%, 0.7);
    backdrop-filter: blur(40px);
    gap: 3.5rem;
  }
  .menu-active {
    transform: translateY(0%);
    transition: all 0.5s ease;
  }
  .menu-links {
    margin: 0;
    font-size: var(--size-menu);
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    padding: 0 0.8rem 0 0;
    overflow: hidden;
  }
  .menu-links:before {
    content: "";
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--pink);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  .menu-links:hover:before {
    transform: translateX(0%);
  }
}

/*md - Bootstrap*/
@media screen and (max-width: 768px) {
  .header-menu {
    gap: 3.5rem;
  }
  .menu-links {
    margin: 0 !important;
    font-size: var(--size-menu);
    text-transform: none;
    font-weight: bold;
  }
}

/*sm - Bootstrap*/
@media screen and (max-width: 576px) {
  .header-brand {
    width: 9.2rem;
    margin: 0;
  }
  .header-menu {
    padding: 3rem var(--padding-x);
    gap: 3rem;
  }
  .menu-links {
    margin: 0 !important;
    font-size: var(--size-menu);
    text-transform: none;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
}

/* xsm - Bootstrap */
@media screen and (max-width: 360px) {
}
