.header-menu{
    width: 100%;
    max-width: 1500px;
    height: var(--height-header);
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-brand{
    width: 215px;
}
.nav-menu{
    width: auto;
    height: auto;
}
.nav-menu-link{
    font-family: var(--font-alt);
    font-size: var(--size-menu);
    margin: 0 0 0 45px;
    text-decoration: none;
    color: var(--gray);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    letter-spacing: 0.5px;
}
.nav-menu-link:hover{
    color: var(--pink);
}
.active{
    color: var(--pink);
}
.link-cv{
    padding: 5px 10px;
    background-color: var(--pink);
    border: 1px solid var(--pink);
    margin: 0 0 0 35px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-alt);
    border-radius: 7px;
    font-size: var(--size-menu);
    -webkit-transition: box-shadow 1s, color 1s;
    -moz-transition: box-shadow 1s, color 1s;
    -o-transition: box-shadow 1s, color 1s;
    letter-spacing: 0.5px;
}
.link-cv:hover{
    box-shadow: inset -10.5em 0 0 0 var(--white), inset 10.5em 0 0 0 var(--white);
    color: var(--pink);
}
.icon-download{
    font-size: 13px;
}





/***************  Breakpoints  ***************/
/*DONE - OK*/
@media screen and (max-width: 1100px){
    .header-menu{
        padding: 0 20px;
    }
    .header-brand{
        width: 210px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 900px){
    .header-menu{
        padding: 0 20px;
    }
    .header-brand{
        width: 210px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 780px){
    .header-menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px 5px 20px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    }
    .header-brand{
        width: 210px;
        margin: 0 0 5px 0;
    }
    .nav-menu-link{
        margin: 0 20px 10px 20px;
    }
}

/*DONE - OK*/
@media screen and (max-width: 582px){
    .header-menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 10px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    }
    .header-brand{
        width: 250px;
        margin: 0 0 7px 0;
    }
    .link-cv{
        display: none;
    }
}

/*DONE*/
@media screen and (max-width: 360px){
    .header-brand{
        width: 210px;
    }
}