.header-menu{
    width: 100%;
    max-width: 1500px;
    height: var(--height-header);
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-brand{
    width: 210px;
}
.nav-menu{
    width: auto;
    height: auto;
}
.nav-menu-link{
    font-family: var(--font-alt);
    font-size: var(--size-menu);
    margin: 0 0 0 40px;
    text-decoration: none;
    color: var(--gray);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    letter-spacing: 1px;
}
.nav-menu-link:hover{
    color: var(--pink);
}
.active{
    color: var(--pink);
}
.link-cv{
    padding: 5px 15px;
    background-color: var(--pink);
    margin: 0 0 0 25px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-alt);
    border-radius: 5px;
    font-size: var(--size-menu);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    letter-spacing: 1px;
}
.link-cv:hover{
    color: var(--white);
    opacity: 0.7;
}
.icon-download{
    font-size: 13px;
}



/***************  Breakpoints  ***************/
/*DONE*/
@media screen and (max-width: 1100px){
    .header-menu{
        padding: 0 20px;
    }
    .header-brand{
        width: 200px;
    }
}

/*DONE*/
@media screen and (max-width: 900px){
    .header-menu{
        padding: 0 20px;
    }
    .header-brand{
        width: 210px;
    }
}







/*DONE - DONE - OK*/
@media screen and (max-width: 761px){
    .header-menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px 5px 20px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    }
    .header-brand{
        width: 210px;
        margin: 0 0 5px 0;
    }
    .nav-menu-link{
        margin: 0 20px 10px 20px;
    }
}







/*DONE*/
@media screen and (max-width: 551px){
    .header-menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    }
    .header-brand{
        width: 240px;
        margin: 0 0 5px 0;
    }
    .link-cv{
        display: none;
    }
}

/*DONE*/
@media screen and (max-width: 360px){
    .header-brand{
        width: 210px;
    }
}