/* ****************************************
              Portfolio Container
**************************************** */
.potfolio__container {
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--white);
  padding: 2rem var(--padding-x);
  margin: 0 auto;
}

/* ****************************************
              Portfolio Title
**************************************** */
.portfolio__title {
  margin-bottom: 2rem;
}

/* ****************************************
              Portfolio Content
**************************************** */
.portfolio__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.card {
  width: 32%;
  box-shadow: 0 0.25rem 0.9rem 0.25rem rgba(0 0 0 /10%);
  position: relative;
  border-radius: 0.7rem !important;
}

.card__image__content {
  overflow: hidden;
  border-radius: inherit;
}
.card__image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.card:hover .card__image {
  transform: scale(1.1);
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 /70%);
  color: var(--white);
  padding: 0 0 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  border-radius: inherit;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.card:hover .card__content {
  opacity: 1;
  visibility: visible;
}

.card__tecnologys {
  display: flex;
  gap: 0.5rem;
}
.card__tecnologys p {
  color: var(--black) !important;
  background-color: #efefef !important;
  opacity: 1;
  padding: 0.1rem 0.7rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.card__tecnology__links {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  gap: 0.8rem;
}
.card__icons {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white);
}
.card__icons:hover {
  color: var(--white);
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */

@media screen and (max-width: 1360px) {
  .card__tecnologys p {
    padding: 0.05rem 0.7rem;
  }
}

/*extra large - OKOK*/
@media screen and (max-width: 1200px) {
  .card {
    width: 49%;
  }
}

/*large - OKOK*/
@media screen and (max-width: 992px) {
}

/*medium - OKOK*/
@media screen and (max-width: 768px) {
}

/*small - OKOK*/
@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }

  .card__content {
    padding: 0 1rem 1rem 1rem;
  }

  .card__icons {
    font-size: 1.7rem;
  }
}

/*extra small - OKOK*/
@media screen and (max-width: 360px) {
  .card__icons {
    font-size: 1.6rem;
  }
}
