.welcome-container{
    width: 100%;
    max-width: 1400px;
    height: calc(100vh - var(--height-header));
    background-color: var(--white-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: var(--height-header) 0 0 0;
}
.icon-welcome{
    display: none;
}
.welcome-text{
    width: auto;
    height: auto;
}
.welcome-title{
    font-size: var(--size-title-h1);
    font-family: var(--font-title);
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--black);
    margin: 0;
}
.welcome-content{
    font-family: var(--font-title);
    font-size: 20px;
    margin: 0;
    text-align: right;
    letter-spacing: 1px;
    color: var(--black);
    text-transform: uppercase;
}





/***************  Breakpoints  ***************/
/*DONE - DONE*/
@media screen and (max-width: 1100px){
    .welcome-title{
        line-height: 110px;
    }
    .welcome-content{
        font-size: 20px;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 900px){
    .welcome-title{
        line-height: 95px;
    }
    .welcome-content{
        font-size: 20px;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 630px){
    .welcome-title{
        line-height: 85px;
    }
    .welcome-content{
        font-size: 18px;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 515px){
    .welcome-container{
        padding: 0 0 70px 0;
    }
    .icon-welcome{
        display: block;
        width: 70%;
        height: auto;
    }
    .welcome-title,
    .welcome-content{
        display: none;
    }
}

/*DONE - DONE*/
@media screen and (max-width: 360px){
    .welcome-container{
        padding: 0 0 60px 0;
    }
    .icon-welcome{
        height: 80%;
        width: auto;
    }
}