/* **********  Home Section  ********** */
.home-section {
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  margin-top: var(--height-header);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-radius{
  width: 40rem;
  height: 24rem;
  border-radius: 30% 70% 70% 30%/ 30% 37% 63% 70%;
  background-color: #d7effc;
  position: absolute;
}

.home-text{
  width: auto;
  height: auto;
  z-index: 10;
  font-family: var(--font-title);
  text-transform: uppercase;
}
.home-text h1{
  font-size: var(--size-title-h1);
  line-height: 0.8;
  margin: 0;
}

.home-text p{
  font-size: 1.4rem;
  margin: 0;
  float: right;
}








/* **********  Media Queries  ********** */
/*OKOK*/
@media screen and (max-width: 1360px) {
  .home-radius {
    width: 37rem;
    height: 22rem;
  }
  .home-text p {
    font-size: 1.25rem;
  }
}

/*OKOK*/
@media screen and (max-width: 1200px) {
  .home-radius {
    width: 32rem;
    height: 20rem;
  }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
}

/*OKOK*/
@media screen and (max-width: 576px) {
  /* **********  Home Section  ********** */
  .home-section {
    width: 100%;
    height: 74vh;
    padding: 0 var(--padding-x);
  }
  .home-radius {
    width: 25rem;
    height: 15rem;
  }

 
  .home-section p {
    font-size: 1.1rem;
    margin: 0.2rem 0 0 0.30rem;
    text-align: left;
  }
}

/*Extra Small -- OKOK*/
@media screen and (max-width: 360px) {
  /* 
    Home Section
  */
  .home-description {
    font-size: 0.95rem;
  }
}
