/* Home Section */
.home-container {
  max-width: var(--max-width);
  height: calc(100vh - var(--height-header));
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 12rem;
}

/* Home Text */
.home-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-text h1 {
  font-family: var(--font-title) !important;
  font-size: var(--size-title-h1);
  line-height: 0.9;
}

/* Home Image */
.home-image {
  width: 18rem;
  border-radius: 69% 31% 70% 30% / 30% 58% 42% 70%;
  box-shadow: 0.15rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

/* ****************************************
          Breakpoints Bootstrap
**************************************** */

/*xl - Bootstrap*/
@media screen and (max-width: 1200px) {
  /* Home Section */
  .home-container {
    justify-content: space-between;
    padding: 0 var(--padding-x);
    gap: 8rem;
  }

  /* Home Text */
  .home-text {
    width: 100%;
  }

  /* Home Image */
  .home-image {
    width: 15rem;
  }
}

/*lg - Bootstrap*/
@media screen and (max-width: 992px) {
  /* Home Section */
  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }

  /*  Home Text */
  .home-text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-text p {
    font-size: 1.1rem !important;
  }

  /* Home Image */
  .home-image {
    width: 14.5rem;
  }
}

/*md - Bootstrap*/
@media screen and (max-width: 768px) {
  /* Home Text */
  .home-text {
    width: 90%;
  }

  /* Home Image */
  .home-image {
    width: 14rem;
  }
}

/*sm - Bootstrap*/
@media screen and (max-width: 576px) {
  /* Home Section */
  .home-container {
    gap: 1.5rem;
  }

  /* Home Text */
  .home-text {
    margin: 0 0 var(--height-header) 0;
  }
  .home-text p {
    font-size: 0.97rem !important;
  }

  /* Home Image */
  .home-image {
    width: 11rem;
  }
}

/* xsm - Bootstrap */
@media screen and (max-width: 360px) {
}
